* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

ul {
    padding: 10px 10px 10px 20px;
}

li {
    margin-bottom: 5px;
}

.accordion {
    width: 100%;
    border: 1px solid #ccc;
}

.accordion-header {
    padding: 15px;
    background: #f1f1f1;
    cursor: pointer;
    border-top: 1px solid #ddd;
}

.accordion-header:first-child {
    border-top: none;
}

.accordion-content {
    display: none;
    padding: 0 0px;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

.active {
    background-color: #e1e1e1;
}

.level-2 {
    padding: 12px 15px;
    background-color: #e7e7e7;
    font-size: 15px;
}

.level-3 {
    padding: 9px 15px;
    background-color: #dddddd;
    font-size: 14px;
}

.level-4 {
    padding: 9px 15px;
    background-color: #d4d4d4;
    font-size: 13px;
}